{% extends 'rango/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
About Rango
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
    <h1 class="jumbotron-heading">List Of Shame</h1>
    </div>
</div>

<div>
    Welcome to the members of Team 5B
</div>
<br>
<br>

<div>
Once you have contributed to the project, you get a bold name :) <br />
</div>
<br>
<li>
    <strong> Fraser Henderson</strong></li>
    <li><strong> Matas Remeika</strong></li>
    <li><strong> Mingyang Chen</strong></li>
    <li><strong> Francisco Silva</strong></li>
    <li><strong>James Browne</strong></li>
    <li>Jamie Howard<br><br><br></li>   


{% endblock %}
