{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Add a Category
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Make a Category Request</h1>
    </div>
</div>
<div class="container"> 
    <div class="row"> 
        <form id="category_form" method="post" action="/rango/add_category/">
            {% csrf_token %}
            {{ form.as_p }}
            <br />
            <button class="btn btn-primary" type="submit" name="submit">
                Add Request
            </button>
            <div class="p-5"></div>
        </form>
    </div>
</div>
{% endblock %}
