{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-1">
  <div class="container">
    <h1 class="jumbotron-heading">Team 5B</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-6">
        <div class="card-body">



          <h2>Most Recent Posts</h2>
          <p class="card-text" id="category_post">
            {% if posts %}
            <ul class="list-group">
              {% for post in posts %}
              <div class="card-header">
                <strong>{{ post }}</strong>
                </div>
                <div class="card-body">
                    <img src={{ MEDIA_URL }}{{post.thumbnail}} alt={{ post }} width=50% height=50%>
    		    <br>
                    <p class="card-text">
                        <strong>Author:</strong> <a href="{% url 'rango:my_collection' post.medium_author.name %}">{{post.medium_author.name}}</a><br/>
                        <strong>Category:</strong> <a href="{% url 'rango:category' post.medium_category.name %}">{{post.medium_category.name}}</a><br/>
                        <strong>Description:</strong> {{post.description}}<br/>
                        <strong>Publish Date:</strong> {{post.publish_date}}<br/>
                        <strong>Views:</strong> {{post.views}}<br/>
                        <strong>Likes:</strong> {{post.likes}}
                    </p>
                </div>
              {% endfor %}
            </ul>
            {% else %}
            <strong>There are no posts yet.</strong>
            {% endif %}
          </p>


        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-6">
        <div class="card-body">

          <h2>User Profiles</h2>
          <p class="card-text">
            {% if users %}
            <ul class="list-group">
              {% for target_user in users %}
              <li class="nav-item "><a class="nav-link" href="{% url 'rango:my_collection' target_user.name %}">{{ target_user.name }}</a></li>
              {% endfor %}
            </ul>
            {% else %}
            <strong>There are no users yet.</strong>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}

{% block sidebar_block %}
<h5>Posts</h5>
{% for category in media_categories %}
<li class="list-group-item">
    <button type="button" class="btn btn-sm" >{{ category.name }}</button>
</li>
{% endfor %}
{% endblock %}
