{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-6">
<div class="container">
<h1 class="jumbotron-heading">Team 5B</h1>
<div>
<h2 class="h2">
{% if user.is_authenticated %}
Welcome back... {{ user.username }}!
{% else %}
Welcome!
{% endif %}
</h2>
<strong>{{ boldmessage }}</strong>
</div>
</div>
</div>
<div class="ml-8 w-78 input-group-lg">
    <input type="search" id="search-input" class="form-control ds-input" placeholder="Search..." />
</div>

<div class="container">
<div class="row">
<div class="col-md-6">
<div class="card mb-6">
<div class="card-body">
<h2>Most Popular User Profiles</h2>
<p class="card-text">
{% if categories %}
<ul class="list-group">
{% for category in categories %}
<li class="list-group-item">
<a href="{% url 'rango:show_category' category.slug %}">
{{ category.name }}</a>
</li>
{% endfor %}
</ul>
{% else %}
<strong>There are no categories present.</strong>
{% endif %}
</p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card mb-6">
<div class="card-body">
<h2>Trending Profiles</h2>
<p class="card-text">
{% if pages %}
<ul class="list-group">
{% for page in pages %}
<li class="list-group-item">
<a href="{{ page.url }}">{{ page.title }}</a>
</li>
{% endfor %}
</ul>
{% else %}
<strong>There are no pages present.</strong>
{% endif %}
</p>
</div>
</div>
</div>
</div>
</div>

</div>
{% endblock %}
