{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-1">
  <div class="container">
    <h1 class="jumbotron-heading">Team 5B</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-6">
        <div class="card-body">



          <h2>Most Recent Posts</h2>
          <p class="card-text">
            {% if posts %}
            <ul class="list-group">
              {% for post in posts %}
              <li class="list-group-item">
                <img src="{{ MEDIA_URL }}{{ post.thumbnail }}" alt="{{ post.description }}"  height="100">
                <br>
                {{ post.name }}
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <strong>There are no posts yet.</strong>
            {% endif %}
          </p>


        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-6">
        <div class="card-body">

          <h2>User Profiles</h2>
          <p class="card-text">
            {% if users %}
            <ul class="list-group">
              {% for target_user in users %}
              <li class="nav-item "><a class="nav-link" href="{% url 'rango:my_collection' target_user.name %}">{{ target_user.name }}</a></li>
              {% endfor %}
            </ul>
            {% else %}
            <strong>There are no users yet.</strong>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}


{% block sidebar_block %}
{% for category in media_categories %}
<li class="list-group-item">
 {{ category.name }}
</li>
{% endfor %}
{% endblock %}
