{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    New Post For {{ selecteduser.username }}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumotron-heading">Create New Post</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <br />
            <div>
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="dropdown">
                        <button class="dropbtn">Dropdown</button>
                              <div class="dropdown-content">
                                {% for category in category_list %}
                                <a href="#">{{ category.name }}</a>
                               {% endfor %}

              </div>
            </div>
                    
                    <input type="submit" value="Update" />
                </form>
            </div>
        </div>
    </div>


{% endblock %}

