{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selecteduser.username }}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumotron-heading">{{ selecteduser.username }}'s Profile</h1>
        </div>
    </div>
    
    <div class="container">
        <img src={{ MEDIA_URL }}{{ userprofile.picture }}
             height="300"
             alt="{{ selecteduser.username }}'s profile image" />
        <br />
        <div>
            <br>
            <br>
            {% if selecteduser == user %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <input type="submit" value="Update" />
            </form>
            {% endif %}
        </div>
        <br/>

    </div>
{% endblock %}