{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selecteduser.username }}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumotron-heading">{{ selecteduser.username }}'s Profile</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <img src={{ MEDIA_URL }}{{ userprofile.picture }}
                 width="100"
                 height="300"
                 alt="{{ selecteduser.username }}'s profile image" />
            <br />
            <div>
                <br>
                <br>
                {% if selecteduser == user %}
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <input type="submit" value="Update" />
                </form>
                {% endif %}
            </div>
        </div>
        <br/>
        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    {{ post }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Author: {{userprofile}}</h5>
                    <img src={{ MEDIA_URL }}{{post.thumbnail}} alt={{ post }}>
                    <p class="card-text">
                        <ul>
                            <li>Category: {{post.medium_category.name}}</li>
                            <li>Description: {{post.description}}</li>
                            <li>Publish Date: {{post.publish_date}}</li>
                            <li>Views: {{post.views}}</li>
                            <li>Likes: {{post.likes}}</li>
                        </ul>
                    </p>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}