{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumotron-heading">Search</h1>
        </div>
    </div>
    <div>
        {% if query %}
            <h2>Results for {{ query }}:</h2>
            
            {% for result in results %}
            <div class="card">
                <div class="card-header">
                    {{ result }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Author: {{result.medium_author.name}}</h5>
                    <img src={{ MEDIA_URL }}{{result.thumbnail}} alt={{ result }}>
                    <p class="card-text">
                        <ul>
                            <li>Category: {{result.medium_category.name}}</li>
                            <li>Description: {{result.description}}</li>
                            <li>Publish Date: {{result.publish_date}}</li>
                            <li>Views: {{result.views}}</li>
                            <li>Likes: {{result.likes}}</li>
                        </ul>
                    </p>
                </div>
            </div>
            <br/>
            {% endfor %}
            
        {% else %}
            <h2>You didn't search for anything...</h2>
        {% endif %}
    </div>
{% endblock %}