{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumotron-heading">Search</h1>
        </div>
    </div>
    <div>
        {% if query %}
            <h2>Results for {{ query }}</h2>
            
            {% if search_type == "media" %}
                {% for post in results %}
                <br/>
                <div class="card">
                    <div class="card-header">
                        <strong>{{ post.name }}</strong>
                    </div>
                    <div class="card-body">
                        <img src={{ MEDIA_URL }}{{post.thumbnail}} alt={{ post }}>
                        <p class="card-text">
                            <strong>Author:</strong> <a href="{% url 'rango:my_collection' post.medium_author.name %}">{{post.medium_author.name}}</a><br/>
                            <strong>Category:</strong> <a href="{% url 'rango:category' post.medium_category.name %}">{{post.medium_category.name}}</a><br/>
                            <strong>Description:</strong> {{post.description}}<br/>
                            <strong>Publish Date:</strong> {{post.publish_date}}<br/>
                        </p>
                    </div>
                </div>
                {% endfor %}
                
            {% else %}
                {% for result in results %}
                    <h5><a href="{% url 'rango:my_collection' result.name %}">{{result.name}}</a></h5>
                {% endfor %}
            {% endif %}
            
        {% else %}
            <h2>You didn't search for anything...</h2>
        {% endif %}
    </div>
{% endblock %}